@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #destop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
  }
  section {
    height: fit-content;
  }
  .btn-scroll {
    display: none;
  }
  .about-pic {
    width: 275px;
    height: 275px;
  }
  .about-content {
    display: block;
    flex-wrap: wrap;
  }
  .about-logo {
    text-align: center;
  }
}
